@page
@model Pharmacy_back.Pages.allproductsModel
@{
}



<body>
<div class="cart">
    <div class="top-cart">
        <h3>My Cart <span class="cart-total-count">(0 Items in Cart)</span></h3>
        <span class="close-cart">
            <i class="fa-regular fa-circle-xmark"></i>
        </span>
    </div>

    <div class="cart-items"></div>

    <div class="bottom-cart">
        <div class="cart-total">
            <p>Cart Total</p>
            <p class="cart-total-price">$0</p>
        </div>

        <div class="cart-buttons">
            <a href="/checkout.html" class="btn-cart">Proceed To Checkout</a>
            <button class="btn-cart trans-bg shop-more-btn">Shop More</button>
        </div>
    </div>
</div>

<!-- End Cart -->
<!-- Start All Products Content -->

<div class="top-page">
    <div class="container">
        <h1>Experiance of Future  With Sydality</h1>

    </div>
</div>

<div class="all-products">
    <div class="container">

        <div class="filter-btn">
            Filter <i class="fa-solid fa-filter"></i>
        </div>

        <div class="filter">
            <h2>Filter</h2>

            <div class="filter-items">
                <h4>Categories</h4>
                <div class="content">
                    <div class="filter-item">
                        <span>Hair Care</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Skin Care</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Vitamins & Supplements</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Pain Relief</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Cold & Flu</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>First Aid</span>
                        <input type="checkbox" />
                    </div>
                </div>
            </div>



            <div class="filter-items">
                <h4>Form</h4>
                <div class="content">
                    <div class="filter-item">
                        <span>Tablets</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Capsules</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Ointments</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Liquids</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Patches</span>
                        <input type="checkbox" />
                    </div>
                </div>
            </div>

            <div class="filter-items">
                <h4>Price Range</h4>
                <div class="content">
                    <input type="range" min="1" max="100" step="1" />
                    <p>Price: $<span id="price-range">50</span></p>
                </div>
            </div>
        </div>

        <div class="products"></div>
    </div>
</div>

<div class="pagination">
    <span class="btn-change prev">
        <i class="fa-solid fa-arrow-left"></i>
    </span>
    <span class="page-num active">1</span>
    <span class="page-num">2</span>
    <span class="btn-change next">
        <i class="fa-solid fa-arrow-right"></i>
    </span>
</div>
    </div>

<!-- End All Products Content -->
<footer>
    <div class="container">
        <div class="big-row">
            <img src="https://st4.depositphotos.com/27205200/39727/v/450/depositphotos_397279466-stock-illustration-creative-pharmacy-concept-logo-design.jpg" alt="Footer logo" />
            <div class="hotline">
                <i class="fa-solid fa-headset"></i>
                <div class="text">
                    <h5>Hotline Free 24/24:</h5>
                    <h6>(+100) 123 456 789</h6>
                </div>
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
                ad.
            </p>
        </div>

        <div class="row">
            <h4>FAQ & Help</h4>

            <div class="links">
                <a href="#">FAQ</a>
                <a href="#">Ordering Tracking</a>
                <a href="#">Contacts</a>
                <a href="#">Events</a>
                <a href="#">Help Center</a>
            </div>
        </div>

        <div class="row">
            <h4>FAQ & Help</h4>

            <div class="links">
                <a href="#">FAQ</a>
                <a href="#">Ordering Tracking</a>
                <a href="#">Contacts</a>
                <a href="#">Events</a>
                <a href="#">Help Center</a>
            </div>
        </div>

        <div class="row">
            <h4>FAQ & Help</h4>

            <div class="links">
                <a href="#">FAQ</a>
                <a href="#">Ordering Tracking</a>
                <a href="#">Contacts</a>
                <a href="#">Events</a>
                <a href="#">Help Center</a>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <p>Copyrights &copy; <span>Sydality</span> All Rights Reserved</p>

            <div class="payment-img">
                <img src="/img/payment-1.png" alt="" />
                <img src="/img/payment-2.png" alt="" />
                <img src="/img/payment-3.png" alt="" />
                <img src="/img/payment-4.png" alt="" />
            </div>
        </div>
    </div>
     <div class="cart">
      <div class="top-cart">
        <h3>My Cart <span class="cart-total-count">(0 Items in Cart)</span></h3>
        <span class="close-cart"
          ><i class="fa-regular fa-circle-xmark"></i
        ></span>
      </div>

      <div class="cart-items"></div>

      <div class="bottom-cart">
        <div class="cart-total">
          <p>Cart Total</p>
          <p class="cart-total-price">$0</p>
        </div>

        <div class="cart-buttons">
          <a href="/checkout.html" class="btn-cart">Proceed To Checkout</a>
          <button class="btn-cart trans-bg shop-more-btn">Shop More</button>
        </div>
      </div>
    </div>

    <!-- End Cart -->

    <!-- Start All Products Content -->

    <div class="top-page">
      <div class="container">
        <h1>Experiance of Future  With Sydality</h1>

      </div>
    </div>

   <div class="all-products">
  <div class="container">

    <div class="filter-btn">
        Filter <i class="fa-solid fa-filter"></i>
    </div>

    <div class="filter">
      <h2>Filter</h2>

      <div class="filter-items">
        <h4>Categories</h4>
        <div class="content">
          <div class="filter-item">
            <span>Hair Care</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>Skin Care</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>Vitamins & Supplements</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>Pain Relief</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>Cold & Flu</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>First Aid</span>
            <input type="checkbox" />
          </div>
        </div>
      </div>



      <div class="filter-items">
        <h4>Form</h4>
        <div class="content">
          <div class="filter-item">
            <span>Tablets</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>Capsules</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>Ointments</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>Liquids</span>
            <input type="checkbox" />
          </div>

          <div class="filter-item">
            <span>Patches</span>
            <input type="checkbox" />
          </div>
        </div>
      </div>

      <div class="filter-items">
        <h4>Price Range</h4>
        <div class="content">
          <input type="range" min="1" max="100" step="1" />
          <p>Price: $<span id="price-range">50</span></p>
        </div>
      </div>
    </div>

    <div class="products"></div>
  </div>
</div>

      <div class="pagination">
        <span class="btn-change prev"
          ><i class="fa-solid fa-arrow-left"></i
        ></span>
        <span class="page-num active">1</span>
        <span class="page-num">2</span>
        <span class="btn-change next"
          ><i class="fa-solid fa-arrow-right"></i
        ></span>
      </div>
    </div>

    <!-- End All Products Content -->
    <footer>
      <div class="container">
        <div class="big-row">
         <img src="https://st4.depositphotos.com/27205200/39727/v/450/depositphotos_397279466-stock-illustration-creative-pharmacy-concept-logo-design.jpg" alt="Footer logo"/>
          <div class="hotline">
            <i class="fa-solid fa-headset"></i>
            <div class="text">
              <h5>Hotline Free 24/24:</h5>
              <h6>(+100) 123 456 789</h6>
            </div>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
            ad.
          </p>
        </div>

        <div class="row">
          <h4>FAQ & Help</h4>

          <div class="links">
            <a href="#">FAQ</a>
            <a href="#">Ordering Tracking</a>
            <a href="#">Contacts</a>
            <a href="#">Events</a>
            <a href="#">Help Center</a>
          </div>
        </div>

        <div class="row">
          <h4>FAQ & Help</h4>

          <div class="links">
            <a href="#">FAQ</a>
            <a href="#">Ordering Tracking</a>
            <a href="#">Contacts</a>
            <a href="#">Events</a>
            <a href="#">Help Center</a>
          </div>
        </div>

        <div class="row">
          <h4>FAQ & Help</h4>

          <div class="links">
            <a href="#">FAQ</a>
            <a href="#">Ordering Tracking</a>
            <a href="#">Contacts</a>
            <a href="#">Events</a>
            <a href="#">Help Center</a>
          </div>
        </div>
      </div>

      <div class="bottom-footer">
        <div class="container">
          <p>Copyrights &copy; <span>Sydality</span> All Rights Reserved</p>

          <div class="payment-img">
            <img src="/img/payment-1.png" alt="" />
            <img src="/img/payment-2.png" alt="" />
            <img src="/img/payment-3.png" alt="" />
            <img src="/img/payment-4.png" alt="" />
          </div>
        </div>
      </div>
      </body>