@page
@model Pharmacy_back.Pages.Edit_ProfileModel
@{
    ViewData["Title"] = "Edit Profile";
}

<div class="container mt-4">
    <h3 class="text-center">Edit Profile</h3>

    <!-- Edit Mode -->
    <form method="post" id="editProfileForm">
        <!-- Username Field (Read-only) -->
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" class="form-control" asp-for="Username" readonly />
        </div>

        @if (string.IsNullOrEmpty(HttpContext.Session.GetString("pharmacy")))
        {
            <!-- Address Fields (For Non-Pharmacy Users Only) -->
            <div class="form-group">
                <label for="District">District</label>
                <input type="text" class="form-control" asp-for="District" />
                <span class="text-danger" asp-validation-for="District"></span>
            </div>

            <div class="form-group">
                <label for="Street">Street</label>
                <input type="text" class="form-control" asp-for="Street" />
                <span class="text-danger" asp-validation-for="Street"></span>
            </div>

            <div class="form-group">
                <label for="HouseNum">House Number</label>
                <input type="number" class="form-control" asp-for="HouseNum" />
                <span class="text-danger" asp-validation-for="HouseNum"></span>
            </div>


        }

        <!-- General Fields -->
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" asp-for="Name" required/>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" asp-for="Email" required/>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input type="number" class="form-control" asp-for="PhoneNumber" required />
            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
        </div>



        <!-- Submit Button -->
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>

    </form>
    <a class="btn btn-outline-warning btn-sm small-btn" asp-page="/ChangePas">
        Change Password <i class="fa-solid fa-user-edit"></i>
    </a>
</div>




