@page
@model Pharmacy_back.Pages.registerModel
@{
}
<body>
    <section class="register">
        <div class="container">
            <div class="main-content">
                <h2 class="title">Welcome</h2>

                <form method="post">
                    @if (!string.IsNullOrEmpty(Request.Query["message"]))
                    {
                        <div class="error-message">@Request.Query["message"]</div>
                    }
                    <input type="text" placeholder="Username" asp-for="username" required />
                    <input type="text" placeholder="Name" asp-for="name" required />
                    <input type="email" placeholder="Email" asp-for="email" required />
                    <input type="District" placeholder="District" asp-for="district" required />
                    <input type="Street" placeholder="Street" asp-for="street" required />
                    <input type="Phone number" placeholder="Phone number" asp-for="phone_number" required />
                    <input type="password" placeholder="Password" asp-for="password" required />
                   
                    <input type="password" placeholder="Repeat Password" asp-for="repeatpassword" required />
                    <button class="register-btn" asp-page-handler="register">Register</button>
                </form>

                <p class="login-link">
                    Have an Account <a asp-page="/signin">Sign In</a>
                </p>


                <div class="register-btns">
                   
                </div>
            </div>
        </div>
    </section>
</body>